<!DOCTYPE html>
<html lang="th">
  <head>
    <title>Bann K&T Cattery - ฟาร์มแมวบริติช ช็อตแฮร์</title>
    <meta
      name="google-site-verification"
      content="N194A-GthKR104nribupXpkKuQJQC9YrBZ6PxlvpV44"
    />
    <meta name="keywords" content="ฟาร์มแมวบริติช, British, ฟาร์มแมว, British Shorthair, Bann K&T">
    <meta name="description" content="Bann K&T is a cattery located in Thailand. Bann K&T cats are short-haired, mostly British Shorthair cats."/>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./images/icon.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Titillium+Web:wght@300;900&family=Varela+Round&display=swap"
      rel="stylesheet"
    />

    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="./">Bann K&T Cattery</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cats">Available Cat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./parents">Sir/Dam</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact">Contact</a>
            </li>
          </ul>
          <div class="d-flex">
            <div class="row-nav">
              <i class="fa-brands fa-facebook fa-xl"></i>
              <a href="https://www.facebook.com/bannkat2022">British Bann K&T</a>
              <i class="fa-brands fa-facebook fa-xl"></i>
              <a href="https://www.facebook.com/bannkat2021">Bann K&T</a>
              <i class="fa-solid fa-phone"></i>
              <a href="tel:081-919-6931">081 919 6931</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container1">
      <div class="new-container">
        <div class="text">
          <h1>Bann K&T</h1>
          <h2 id="cattery">Cattery</h2>
          <h2>British Shorthair</h2>
          <button onclick="location.href='./cats'">แมวที่ว่าง / Available Cat</button>
          <div class="new-row">
            <a href="https://www.facebook.com/bannkat2021"><img src="./images/contact/fb2.png" alt="fb"></a>
            <a href="https://www.instagram.com/bann_kat/"><img src="./images/contact/ig.png" alt="ig"></a>
            <a href="https://twitter.com/BannKat208?t=Ah0sz60KZBw3gwbqqA1l1Q&s=09"><img src="./images/contact/twitter.png" alt="twitter"></a>
            <a href="https://www.tiktok.com/@bannkat"><img src="./images/contact/tiktok.png" alt="tiktok"></a>
            <a href="https://line.me/ti/p/IHPBr5OSsG"><img src="./images/contact/line.png" alt="line"></a>
        </div>
        </div>
        <img src="./images/index/logo1.png" height="500vw" alt="logo" />
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff188"
          fill-opacity="1"
          d="M0,192L34.3,170.7C68.6,149,137,107,206,101.3C274.3,96,343,128,411,154.7C480,181,549,203,617,202.7C685.7,203,754,181,823,165.3C891.4,149,960,139,1029,154.7C1097.1,171,1166,213,1234,218.7C1302.9,224,1371,192,1406,176L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
        ></path>
      </svg>
    </div>
    <div class="container2">
      <div class="container">
        <div class="row align-items-center align-items-center">
          <div class="col">
            <div class="rec">
              <a class="img" href="./aboutus">
                <img
                  src="./images/index/aboutus.png"
                  height="200px"
                  width="200px"
                  alt="aboutus"
                />
              </a>
            </div>
            <a href="./aboutus">About Us</a>
          </div>
          <div class="col">
            <div class="rec">
              <a class="img" href="./cats">
                <img
                  src="./images/index/search.png"
                  height="200px"
                  width="200px"
                  alt="search"
                />
              </a>
            </div>
            <a href="./cats">Available Cat / แมวว่าง</a>
          </div>
          <div class="col">
            <div class="rec">
              <a class="img" href="./parents">
                <img
                  src="./images/index/father.png"
                  height="200px"
                  width="200px"
                  alt="parents"
                />
              </a>
            </div>
            <a href="./parents">Sir/พ่อพันธุ์<br />Dam/แม่พันธุ์</a>
          </div>
          <div class="col">
            <div class="rec">
              <a class="img" href="./contact">
                <img
                  src="./images/index/contact.png"
                  height="200px"
                  width="200px"
                  alt="contact"
                />
              </a>
            </div>
            <a href="./contact">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container3">
      <div class="new-row">
        <h2>บริติชช็อตแฮร์ Bann K&T Cattery</h2>
      </div>
      <div class="new-row">
        <p>
          " ส่งน้องแมวสุขภาพดีให้ครอบครัวใหม่ มีการตรวจสุขภาพ ตรวจโรค
          และรับประกันสุขภาพให้ทุกตัว
        </p>
      </div>
      <div class="new-row">
        <p>
          เจ้าของใหม่สามารถสอบถามเรื่องการดูแลและการเลี้ยงดูน้องแมวได้ตลอดเวลา "
        </p>
      </div>
    </div>

    <div class="container4">
      <h2>เกร็ดความรู้</h2>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <% for (var t of tips){ %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading<%=t.id%>">
              <% if (t.id === 1) {%>
                <button class="accordion-button color" style="background-color: #fff188 ;color: #573A3E;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=t.id%>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%=t.id%>">
                <%} else {%>
                  <button class="accordion-button collapsed color" style="background-color: #fff188 ;color: #573A3E;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=t.id%>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%=t.id%>">
                <% } %>
                <%=t.title%>
              </button>
            </h2>
            <% if(t.id === 1){%>
            <div id="panelsStayOpen-collapse<%=t.id%>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading<%=t.id%>">
            <%} else {%>
            <div id="panelsStayOpen-collapse<%=t.id%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=t.id%>">  
            <% } %>
              <div class="accordion-body">
                <%- t.text.replace(/\n/g, '<br/>') %>
                <% if (t.image) { %>
                  <div class="pic">
                    <img id="pic" src="./images/index/slide/<%=t.image%>" alt="<%=t.id%>">
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff188"
        fill-opacity="1"
        d="M0,160L34.3,170.7C68.6,181,137,203,206,208C274.3,213,343,203,411,197.3C480,192,549,192,617,202.7C685.7,213,754,235,823,224C891.4,213,960,171,1029,144C1097.1,117,1166,107,1234,117.3C1302.9,128,1371,160,1406,176L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
      ></path>
    </svg>
    <footer>
      <p>© All rights reserved | <a id="foot" href="/admin">pkbsa</a></p>
    </footer>

    <script
      src="https://kit.fontawesome.com/100c767ee6.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
